@using WebProject.Contracts
@using WebProject.Infrastructure
@inject IAdminService adminService;

@{
    ViewData["Title"] = "Home Page";
}

{
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU" ,
      background-size = "cover">
</body>

<div class="text-center text-white">
    <h1 class="display-4">DD GameStore</h1>
    <p>Come and enjoy the best games on the market!</p>
    <p>Here you will see the best rated/best sellers and community approved games</p>
    <p>
        You can also find gaming accessories and on top of that healthy products to
        help you stay fit and pain free when gaming or working at your PC!
    </p>
</div>
<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total-gamingProducts"></h2>
        <h2 class="col-md-6 text-center" id="total-healthyProducts"></h2>
        <h2 class="col-md-12 text-center" id="total-games"></h2>
    </div>
</div>

@section Scripts{
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('api/statistics', (data) => {
                $('#total-gamingProducts').text(data.totalGamingProducts + " Gaming Products");
                $('#total-healthyProducts').text(data.totalHealthyProducts + " Healthy Products");
                $('#total-games').text(data.totalGames + " Games");
                $("#statistics").removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}

