@{
    ViewData["Title"] = "Home Page";
}

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU" ,
      background-size = "cover">
</body>

@*<style>
    body {
        background-image: url(https://www.ikea.com/images/9a/b6/9ab603e7ab8c6dba592e806504003d84.jpg?f=s);
        background-color: aqua;
        background-size: cover;
    }
</style>*@



<div class="text-center text-white">
    <h1 class="display-4">DD GameStore</h1>
    <p>Come and enjoy the best games on the market!</p>
    <p>Here you will see the best rated/best sellers and community approved games</p>
    <p>
        You can also find gaming accessories and on top of that healthy list of exercises/stretches/products to
        help you stay fit and pain free when gaming!
    </p>
</div>
