@using WebProject.Models.GameViewModel
@model GameListViewModel

@{
    ViewBag.Title = "Are you sure u want to delete the game";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Game Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>